* {
    margin: 0;
    padding: 0;
}
#Home {
    text-align: center;
}
#carouselExample img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#textss {
    padding-left: 5%;
}
